$black: #000000;
$white: #ffffff;
$gunmetal: #1f2937;
$azure: #3b82f6;
$royalBlue: #2563eb;
$white: #ffffff;
$seasalt: #f9fafb;
$seasalt2: #fafafa;
$richBlack: #111827;
$antiFlashWhite: #e5e7eb;
$antiFlashWhite2: #f3f4f6;
$frenchGray: #d1d5db;
$cadetGray2: #9ca3af;
$royalBlue2: #cadbff;
$successGreen: #4caf50;
$errorRed: #f44336;
$infoBlue: #2196f3;
